body {
    font-family: 'Roboto', sans-serif;
}
@media only screen and  (max-width: 700px) {
    body {
        background-color: green;
    }
}
.DemeHomePage {
    width: 100%;
    float: left;
    height: auto;
    font-size: 25px;
}
.entry1 {
    /*background: url('img/determinism-destrukction-cover.jpg');*/
    background-color: lightcoral;
    float:left;
    width: 100%;
    padding-left: 10px;
    padding-right: 40px;
    margin-right: 40px;
}
.entry2 {
    background-color: lightsalmon;
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 40px;
}
.content-01 {
    padding: 20px;
    background-color: brown;
    background-repeat: repeat;
}

.container {
    position: relative;
    text-align: left;
    color: black;
    padding-left: 10px;
    width: 100%;
}
.top-Left {
    position: absolute;
    z-index: 1;
}
.MiniAlbum {
    float:left;
    width:60%;
}
.AlbCov {
    float: left;
    width: 300px;
    height: 300px;
}
.AlbCov:hover {
    width: auto;
    height: auto;
}
.Alb-Description {
    float: right;
    width: 40%;
    color: maroon;
}
.Alb-Notice {
    float: left;
    width:100%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.dropdown-info {
    display: none;
    position: absolute;
    background-color: brown;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.Alb-Notice:hover .dropdown-info {
    display:block;
}