body {
    font-family: 'Roboto', sans-serif;
    background-color: darkgray;
}

@media only screen and (max-width: 700px) {
    body {
        background-color: green;
    }
}

.homeHeader {
    width: 100%;
    float: left;
    height: auto;
    font-size: 18px;
}

.entry {
    /*background: url('img/determinism-destrukction-cover.jpg');*/
    float: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid #000;
    border-radius: 15px;
}

.content-01 {
    padding: 20px;
    background-color: brown;
    background-repeat: repeat;
}

.container {
    position: relative;
    text-align: left;
    color: black;
    padding-left: 10px;
    width: 100%;
}

.leftTable {
}

.MiniAlbum {
    position: relative;
    left: 20px;
    float: left;
    overflow: hidden;
    width: 40%;
}

.albumName {
	text-align:center;
	background-color: #CCC;
	font-size: 125%;
}

.albCover {
    background-size:contain;
    float: left;
    width: 400px;
    height: 400px;
    resize: both;
    position: relative;
}

.Alb-Description {
    position: relative;
    margin-left: 40%;
    overflow: hidden;
    color: maroon;
}
.Alb-Notice {
    float: left;
    width:100%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.dropdown-info {
    display: none;
    position: relative;
    background-color: white;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.Alb-Notice:hover .dropdown-info {
    display:block;
}

.entrySpacing {
    padding: 20px;
}
