body, html {
  height: 100%;
  font-family: 'monof';
  background-color: darkgray;
}

.gallery {
    height: 800px;
    margin:auto;
}
.floatImg {
    text-align:center;
    margin:auto;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    width: 150px;
    height: 200px;
}
@font-face {
  font-family: 'monof';
  src: url('util/font/monof55.ttf');
}

.leftBlock {
    width: 20%;
    height: 100%;
}
.rightBlock {
    width: 20%;
    height: 100%;
    /*
    background: -moz-linear-gradient(bottom,rosybrown,bisque);
    float:right;
    height: 800px;
    */
}
.Middle {
    background-color: darkgray;
    float: none;
    display: block;
}
.AlbumCover {
    position:relative;
    width: 95%;
    height: 200px;
    float: none;
}
.AlbumCover:hover {
    width: 95%;
    height: 220px;
}

#parallax.demetori {
  background-image: url('img/demetori_para.jpg');
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax.ssh {
  background-image: url('img/ssh_para.jpg');
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax.uc {
  background-image: url('img/undead_corporation_para.jpg');
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
