body, html {
  height: 100%;
  font-family: 'techmono';
}

@font-face {
  font-family: 'techmono';
  src: url('techmono.ttf');
}

.FreeLeft {
    width: 1%;
    background: -moz-linear-gradient(bottom, rosybrown,bisque);
    float: left;
    height: 800px;
}
.FreeRight {
    width: 1%;
    background: -moz-linear-gradient(bottom,rosybrown,bisque);
    float:right;
    height: 800px;
}
.Middle {
    background-color: darkgray;
    float: none;
    display: block;
}
.AlbumCover {
    position:relative;
    width: 95%;
    height: 200px;
    float: none;
}
.AlbumCover:hover {
    width: 95%;
    height: 220px;
}

#parallax.demetori {
  background-image: url('img/demetori_para.jpg');
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax.ssh {
  background-image: url('img/ssh_para.jpg');
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax.uc {
  background-image: url('img/undead_corporation_para.jpg');
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
