body, html {
    height: 100%;
    font-family: 'monof';
}
html {
    background-color: black;
}

.gallery {
    display:flex;
    padding-left: 15%;
    padding-right:15%;
    padding-bottom:30px;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    text-align:center;
    margin:auto;
    background-color: darkgray;
}
.floatImg {
    width: 160px;
    height: 220px;
    margin: 0 auto;
    position:relative;
    font-size: 25px;
}
@font-face {
    font-family: 'monof';
    src: url('util/font/monof55.ttf');
}
.wrap {
    margin:0 auto;
    width:1020px;
}
.AlbumCover {
    position:relative;
    width: 95%;
    height: 200px;
    float: none;
}
.AlbumCover:hover {
    width: 95%;
    height: 220px;
}
#info.header {
    margin: 0 auto;
    width:1020px;
    text-align:center;
    background-color:#CCC;
    font-size:125%;
}
#info.box {
    margin: 0 auto;
    width:1020px;
    background-color:darkgray;
    font-size:36px
}
#info.content {
    padding:20px;
}

#imageOverlay.bg {
    float:right;
    height:100%;
    width:50%;
    background-color: rgba(0,0,0,0.6);
}
#imageOverlay.text {
    color:white;
    padding: 20px;
}

#parallax {
    width:1020px;
    display:block;
    justify-content:center;
    margin:0 auto;
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 1500px;
}
#parallax.demetori {
    background-image: url('img/demetori_para.jpg');
}
#parallax.uc {
    background-image: url('img/undead_corporation_para.jpg');
}
#parallax.ssh {
    background-image: url('img/ssh_para.jpg');
}
.bottom {
    width:980px;
    padding-left:20px;
    padding-right:20px;
    margin:0 auto;
    height:400px;
    background-color:darkgray;
    font-size:36px
}
